<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: header"></th:block>
    <title>Feedback - lista frågor</title>
</head>
<body>

<div class="nav-box">
<span class="toolbar">
    <a class="toolitem" th:href="@{'/questions/create'}"><img th:src="@{/styles/newlist.png}"></a>
</span>
    <h1>Hantera frågor och se svar</h1>
</div>
<div class="notepad">
    <ul class="list">
        <li th:each="question: ${questions}">
            <a th:href="@{'/answer/viewanswersfor/'+${question.id}}" th:text="${question.question}"></a>
            (<a th:if="${question.active}" th:href="@{'/questions/deactivate/' + ${question.id}}">Avaktivera</a>
            <a th:unless="${question.active}" th:href="@{'/questions/activate/' + ${question.id}}">Aktivera</a>
            | <a th:href="@{'/questions/delete/' + ${question.id}}">Ta bort</a>)
        </li>
    </ul>
</div>
</body>
</html>
