<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments/header :: header"></th:block>
    <title>Feedback - lista svar</title>
</head>
<body>

<div class="nav-box">
<span class="toolbar">
</span>
    <h1 th:text="${question.question}"></h1>
</div>
<div class="notepad">
    <ul class="list" th:each="answer: ${answers}">
        <li th:text="${answer.feedbackMessage}"></li>
    </ul>
</div>
</body>
</html>
