<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments/header :: header"></th:block>
    <title>Feedback - start</title>
</head>
<body>

<div class="nav-box">
<span class="toolbar">
</span>
    <h1>Välj fråga</h1>
</div>
<div class="notepad">
    <ul class="list">
        <li th:each="question: ${questions}">
            <a th:href="@{'/questions/answer/'+${question.id}}" th:text="${question.question}"></a>
        </li>
    </ul>
</div>
</body>
</html>
